.Original-Image {
    height: auto;
    width: auto;
}

.Object-Image {
    height: 100px;
}

.Similar-Image {
    height: 200px;
    width: 200px;
}

.Similar-Image-Zoom {
    height: 200px;
    width: 200px;
}

.Similar-Image-Zoom:hover {
    position: absolute;
    height: max-content;
    width: max-content;
    overflow: hidden;
}