version: '3.1'

services:
  database:
    container_name: learning_e2e_db
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  backend:
    container_name: learning_e2e_backend
    image: python:3.10.4-alpine3.16
    volumes:
      - ./backend:/backend
    working_dir: /backend
    environment:
      - MONGO_URI=mongodb://root:example@database:27017/learning_e2e?authSource=admin&readPreference=primary&ssl=false
    ports:
      - "11000:11000"
    command: sh run.sh
    depends_on:
      - learning_e2e_db

  frontend:
    container_name: learning_e2e_frontend
    image: learning_e2e_frontend
    build:
      context: ./frontend
      target: production
    ports:
      - "11001:80"
    depends_on:
      - learning_e2e_backend

