.App {
  text-align: center;
}

.ControlPanel {
  background-color: deepskyblue;
  align-items: center;
}

.Sentence {
  font-size: 1em;
  color: black;
  height: 8vh;
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
  word-wrap: normal;
}

.ActionPanel {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.LabelsWrapper {
  display: inline-flex;
  flex-direction: row;
  font-size: 1em;
  justify-content: space-around;
  width: 100%;
}

.Label {
  width: 80vh;
}

.LabelList {
  overflow-y: scroll;
  height: 51vh;
}

[data-tooltip]{
  position: relative;
  display: inline-block;
}

[data-tooltip]:hover::before{
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  background: #000;
  color: #FFF;
  padding: .2rem .4rem;
  border-radius: .3rem;
  width: max-content;
  font-size: 14px;
  text-align: center;
}

[data-tooltip]:hover::after {
  border: .5rem solid transparent;
  border-top-color: #000;
  content: '';
  position: absolute;
  transform: translate(-80%, -0.1rem);
}
