.App {
  text-align: center;
}

.ControlPanel {
  background-color: deepskyblue;
  align-items: center;
}

.Sentence {
  font-size: 1em;
  color: black;
  height: 8vh;
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
  word-wrap: normal;
}

.ActionPanel {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.LabelsWrapper {
  display: inline-flex;
  flex-direction: row;
  font-size: 1em;
  justify-content: space-around;
  width: 100%;
}

.Label {
  width: 80vh;
}

.LabelList {
  overflow-y: scroll;
  height: 51vh;
}
