.App {
  text-align: center;
}

.NER_types_inputs {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ControlPanel {
  height: 45vh;
  background-color: deepskyblue;
}

.Sentence {
  font-size: 1em;
  color: black;
  height: 10vh;
  width: 90%;
  margin: 2%;
  word-wrap: normal;
}

.ActionPanel {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.LabelsWrapper {
  display: inline-flex;
  flex-direction: row;
  font-size: 1em;
  justify-content: space-around;
  width: 100%;
}

.Label {
  width: 80vh;
}

.LabelList {
  overflow-y: scroll;
  height: 45vh;
}


